.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-left: 16em;
}
@media only screen and (max-width: 600px) {
    .feed {
        margin-left: 0;
        width: auto;
    }
}